<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/404.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="upper-error">
    <h1>404</h1>
    <h3>Procuramos em toda aplicação e não encontramos nada...</h3>
    </div>
    <div class="img">
        <img  src="https://res.cloudinary.com/practicaldev/image/fetch/s--YKSSaZwE--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://ih1.redbubble.net/image.468749784.5220/flat%2C800x800%2C075%2Cf.u2.jpg" alt="">
    </div>
</body>
</html>